.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
  background-color: $color__background-nav;
  // box-shadow: 1px 3px 5px 2px grey;
  z-index: 60;
  position: relative;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul { //submenu
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 2.5em;
			left: -999em;
			z-index: 99999;
			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
        text-transform: lowercase;
        margin: 5px 10px;
			}

			:hover > a,
			.focus > a {
        color: $color__link-hover;
        transition: all .5s ease;
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;

		}
	}

	li {
		position: relative;
    font-family: $font__headings;
    font-size: 1.5em;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
    text-transform: lowercase;
    margin: 0 10px;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.sub-menu {
  flex-direction: column;
  background-color: $color__background-nav;
  font-size: 14px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
    justify-content: space-around;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.banner {
  background-image: url(media/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}
